* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    height: 100vh;
    background: linear-gradient(rgba(48,62,143.4), rgba(47,150,163,.4));
}

div {
    /* border: red solid 1px; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, .5);
    color: white;
    font-size: 20px;
    width: 300px;
    transition: .2s ease-out;
}

input:focus {
    background-color: rgba(255, 255, 255, .6);
}

p {
    /* border: chartreuse solid 1px; */
    margin-top: 50px;
    color: white;
    font-family: 'montserrat', sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, .4);
}

.city{
    font-size: 30px;
    font-weight: 800;
}

.weather{
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
}

.temperature{
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
}

img {
    /* border: chartreuse solid 1px; */
    color: white;
    margin-top: 50px;
}